@import "global.scss";
.signIn {
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  img {
    object-fit: contain;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    input {
      font-size: 8px;
      width: 350px;
      height: 50px;
      font-size: 15px;
      padding-left: 10px;
      margin-bottom: 10px;
      border: 0.2px solid lightgray;
      border-radius: 5px;
    }
    button {
      border: 0.2px solid lightgray;
      width: 365px;
      height: 50px;
      font-size: large;
      color: white;
      background-color: $primary;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  p {
    margin-top: 20px;
    color: #00000055;
    .register {
      color: $primary;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
