.feed {
  flex: 0.6;
  margin: 15px 20px;
  .inputContainer {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    .input {
      border: 1px solid lightgray;
      border-radius: 30px;
      display: flex;
      padding: 10px;
      color: gray;
      padding-left: 15px;
      form {
        display: flex;
        width: 100%;
        input {
          outline: none;
          background-color: transparent;
          border: none;
          margin-left: 10px;
          font-weight: 600;
          flex: 1;
        }
        button {
          display: none;
        }
      }
    }
    .inputOptions {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
