@import "global.scss";
.sidebar {
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
  padding: 15px;
  position: sticky;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1px solid lightgray;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    background-color: white;
    padding-bottom: 10px;
    img {
      margin-bottom: -20px;
      width: 100%;
      height: 60px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
    .avatar {
      margin-bottom: 10px;
    }
    h4 {
      color: gray;
      font-size: 12px;
    }
    h2 {
      font-size: 18px;
    }
  }
  .stats {
    padding: 10px;
    margin-bottom: 10px;
    border: 0.1px solid lightgray;
    background-color: white;
    border-radius: 0 0 10px 10px;
    .stat {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      p {
        color: gray;
        font-size: 13px;
        font-weight: 600;
      }
      .statNumber {
        font-weight: bold;
        color: $primary;
      }
    }
  }
  .bottom {
    text-align: left;
    padding: 10px;
    border: 0.1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    p {
      font-size: 13px;
      padding-bottom: 10px;
    }
    .recentItem {
      display: flex;
      font-size: 13px;
      color: gray;
      font-weight: bolder;
      padding: 5px;
      cursor: pointer;
      .hash {
        margin: 0 10px 0 5px;
      }
      &:hover {
        background-color: whitesmoke;
        color: black;
        border-radius: 10px;
      }
    }
  }
}
